html, body
{
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-y: hidden;
}

body
{    font: 14px/1.333 sans-serif;
    color: #000000;
    background: linear-gradient(orangered,orange, yellow);
}

header#primary
{
    width: 100%;
    height: 100px;
    background: #313131;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#4d4d4d), to(#313131));
    background-image: -moz-linear-gradient(#4d4d4d, #313131);
    background-image: -o-linear-gradient(#4d4d4d, #313131);
    background-image: linear-gradient(#4d4d4d, #313131);
}
header#primary h1
{
    margin: 0px 0px 0px 20px;
    padding: 0px;
    line-height: 100px;
    color: #FFFFFF;
}

#sidebar
{
    float: left;
    width: 250px;
    background-color: #000000;
    min-height: 100%;
}

#main
{
    float: left;
    background-color: yellow; 
}
.links{
  color: #666;
  font: bold 24px Arial;
  text-decoration: none;
  background-color: #000000;}
p{
  font-family: 'PT Sans', sans-serif;
  font-size: 24px;
}
a:hover {
    color: #FFFFFF;
}

a:visited a:active{
   color: black; 
}
.img-circle {
    border-radius: 50%;
}
h2{
    color: white;
}
li{
    font-family: 'PT Sans', sans-serif;
    font-size: 24px;
    list-style-position: inside;
}

.red{
    color: #000000;
}





