/*
main.css
Lines that start with @keyframe applies towards an animation. The 0% represents when the animation is at to 0, or just started. The 100% represents when the animation is complete. For example, in @keyframes flipBack, the width starts out at 150px when the animation starts. When it is complete, the width gets set to 5px. flipFront and slideIn follow the same generatl structure, but the CSS applied is different in each case.
*/
@keyframes flipBack {
  0% {
    width: 150px
  }
  100% {
    width: 5px
  }
}

@keyframes flipFront {
  0% {
    width: 5px
  }
  100% {
    width: 150px
  }
}

@keyframes slideIn {
  0% {
    position: absolute;
		top:0;
		bottom: 0;
		left: -100%;
		right: 0;
  }
  100% {
    position: absolute;
		top:0;
		bottom: 0;
		left: 0;
		right: 0;
  }
}

div {
	width: 600px;
  height: 600px;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
	animation:slideIn 4s;
	animation-fill-mode: forwards;
}
header#primary
{
    width: 100%;
    height: 75px;
    background: #313131;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#4d4d4d), to(#313131));
    background-image: -moz-linear-gradient(#4d4d4d, #313131);
    background-image: -o-linear-gradient(#4d4d4d, #313131);
    background-image: linear-gradient(#4d4d4d, #313131);
    font-size: 48px;
    color: white;
    text-align: center;
}
#sidebar
{
    float: left;
    width: 250px;
    background-color: #000000;
    min-height: 100%;
}
body
{    font: 14px/1.333 sans-serif;
    color: #000000;
    background: linear-gradient(orangered,orange, yellow);
}
html, body
{
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-y: hidden;
}
#main
{
    float: left;
    background-color: yellow; 
}

.links{
  color: #666;
  font: bold 24px Arial;
  text-decoration: none;
  background-color: #000000;}
 
  a:hover {
    color: #FFFFFF;
}

a:visited a:active{
   color: black; 
}
li{
  font-family: 'PT Sans', sans-serif;
  font-size: 24px;
  list-style-position: inside;
}
header#primary h1
{
    margin: 0px 0px 0px 20px;
    padding: 0px;
    line-height: 100px;
    color: #FFFFFF;
}